@inject IAuthService AuthService
@inject NavigationManager NavMan

        <div class="col-12 col-lg-6 pb-5">
            <div class="d-flex flex-column justify-content-center w-100 mx-auto"
                 style="padding-top: 56px; max-width: 680px">
               
<div class="head m-4">
    <h1></h1>
    <h2>Change Password</h2>
</div>
        @if (ShowErrors)
        {
            <div class="alert alert-danger" role="alert">
                <p>@Error</p>
            </div>
        }
        <div class="card login">
    <div class="card-body">
        <h5 class="card-title">Please enter a new password</h5>
        <EditForm Model="@ChangePasswordModel" OnValidSubmit="@HandleChangePassword">
            <DataAnnotationsValidator />
            <ValidationSummary />

                    <div class="form-group pt-2">
                        <label for="password">Old Password</label>
                        <InputText type="password" Id="oldpassword" Class="form-control" @bind-Value="@ChangePasswordModel.OldPassword" />
                        
                    </div>
            
            <div class="form-group pt-2">
                <label for="password">Password</label>
                <InputText type="password" Id="password" Class="form-control" @bind-Value="@ChangePasswordModel.Password" />
                <ValidationMessage For="@(() => ChangePasswordModel.Password)" />
            </div>
            <div class="form-group pt-2">
                <label for="password">Confirm Password</label>
                <InputText type="password" Id="password" Class="form-control" @bind-Value="@ChangePasswordModel.ConfirmPassword" />
                <ValidationMessage For="@(() => ChangePasswordModel.ConfirmPassword)" />
            </div>            
            <div class="form-group pt-4">
                <button type="submit" class="submit btn-primary">Submit</button>
            </div>
            <div class="form-group pt-2">
                <a style="font-weight: bold;" href="/">Cancel</a>
            </div>
            
        </EditForm>
    </div>
</div>

            </div>
        </div>


@code {
    private ChangePasswordModel ChangePasswordModel = new ChangePasswordModel();
    private bool ShowErrors;
    private string Error = "";
    private async Task HandleChangePassword()
    {
        ShowErrors = false;

        var result = await AuthService.ChangePassword(ChangePasswordModel);

        if (result.Successful)
        {
            NavMan.NavigateTo("/Logout");
        }
        else
        {
            Error = result.Error;
            ShowErrors = true;
        }
    }
}
